.headingWrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formHeader {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.skillsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.skill {
  display: flex;
  gap: 3px;
}

.formEntry {
  display: flex;
  gap: 2rem;
}

.contentWrapper {
  display: flex;
  gap: 5rem;
}

.imageWrapper {
  width: 10rem;
}

img {
  width: 100%;
}
